# Created by venv; see https://docs.python.org/3/library/venv.html
# Django stuff:
*.log
local_settings.py

media/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.*

# Virtual environments
venv/
env/
.venv/


